body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: maroon;
    background: url("../images/Website background.jpeg");
    background-size: cover;

}


#logocont {
    margin-left: -235px;
}

.logoimg1 {
    height: 50px;
    padding-top: 10px;
    border-radius: 50%;


}

#mainhead {
    z-index: 99;
    width: 100%;
    overflow: auto;
    border-bottom: 2px solid;

    
}

.headcont {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;

}

nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 15px;

}

nav {
    float: right;
    margin-top: 25px;

}

.navlink {
    background: url("../images/navlogo.jpeg");
    background-size: contain;
    
}

.container {
    margin-top: 500px;

}



